body {
    background-color: #333;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}

.profile-container {
    padding: 50px;
    max-width: 500px;
    margin: 100px auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.profile-container h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    color: cadetblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: underline;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-details p {
    margin: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.profile-details p strong {
    min-width: 120px;
    display: inline-block;
    color: cadetblue;
}

.profile-details p span {
    color: #555;
    font-weight: 500;
}

